doctype html
html(lang="en")
	head 
		title Sample Rest Service
		style(type='text/css').
			body {
				background-color: #fcfcfc;
			}			
			header {
				width:99%;
				text-align: center;
			}
			h1 {
				text-transform: capitalize;
			}
			header p {
				font-size: 1.2em;
			}	
			footer {
				border-top: 1px solid #000;
			}
			.container {
				width: 960px;
				margin: auto;
			}
			.italic {
				font-style: italic
			}
	body
		header
			h1  Sample NodeJs Rest Web Service 
			p.description A Sample Rest Service build using Express JS. 
		div.container
			p The Service serves HTML, JSON and XML response. This can be used for testing your html or mobile apps when you don't have your web service working or unable to access them, well this will only work if you already know what kind of response you are expecting.
			div
				span.italic Usage: 
				ul
					li Place the responses you need in the folder 'response'. 
					li To access the response hit the URL: 'http://ip:port/getResponse/filename.extension'
					
			footer
				p Created by Santhana Rajagopalan.