doctype html
html(lang="en")
	head 
		title Sample Rest Service
		style(type='text/css').
			body {
				background-color: #fcfcfc;
			}
			
			div {
				width:99%;
				position: absolute;
				text-align: center;
			}
			h1 {
				text-transform: capitalize;
			}
			p {
				font-size: 1.2em;
				text-transform: capitalize;
			}
	body
		div
			h1  Sample NodeJs Rest Web Service 
			p The service is build using Express JS. The service can be used as a static file server
